.gamer-para{
    font-size: 0.8rem;
}

.influenceurs-background{
    background-color: #F7F8FA;
}

.review-mt{
    margin-bottom: 80px;
}



.Review .carousel-control-prev,
.Review .carousel-control-next {
  width: 30px; /* Adjust width for arrows */
  border: none; /* Remove borders */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Disable click when hidden */
}

.Review .carousel-control-prev.show,
.Review .carousel-control-next.show {
  opacity: 1; /* Show arrows when the 'show' class is applied */
  pointer-events: auto; /* Enable click when visible */
}

.Review .carousel-control-prev:hover,
.Review .carousel-control-next:hover {
  transform: translateX(5px); /* Slight shift on hover for smooth feel */
}

.Review .carousel-control-prev-icon,
.Review .carousel-control-next-icon {
  padding: 1vh 1vw; /* Adjust padding for better visibility */
  background-size: 50% 50%; /* Adjust icon size */
  background-color: rgb(187, 194, 201); /* Add custom background color */
}