.Footer13 .content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin: 20px 0;

}

.Footer13 .content h5 {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.Footer13 .content p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 400;
    text-align: left;
}

.Footer13 .content ul li {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 400;
    text-align: left;
}

.Footer13 .content a {
    color: #89c600;
}