.page-10 {
    margin: 5vh 0;
    /* Remove any default margin */
    padding: 0 5vw;
    /* Remove any default padding */
    display: block;
    /* Ensure the container behaves as a block element */
}