.Footer18 .heading {
    margin: 2vh 0;
    text-align: center;
    padding: 5vh 20vw;
}

.Footer18 .heading h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.Footer18 .para {
    margin: 5vh 0;
    padding: 5vh 0;
    background-color: #f0f3f5;
}

.Footer18 .para h1 {
    font-size: 1.7rem;
    margin: 2vh 0;
}

.Footer18 .para p {
    font-size: 1rem;
    font-weight: 500;
}

.Footer18 .para a {
    color: #89c600;
}


.Footer18 .video-container {
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
    display: block;
    /* Ensure the container behaves as a block element */
}

.Footer18 iframe {
    display: block;
    /* Ensure the iframe behaves as a block element */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
    width: 100%;
    /* Ensure it takes full width */
    border: none;
    /* Remove border if any */
}






@media (max-width: 768px) {


    .Footer18 .video-container {
        margin: 2vh 0;
        /* Remove any default margin */
        padding: 0;
        /* Remove any default padding */
        display: block;
        /* Ensure the container behaves as a block element */
    }


    .Footer18 iframe {
        display: block;
        /* Ensure the iframe behaves as a block element */
        margin: 0;
        /* Remove any default margin */
        padding: 0;
        /* Remove any default padding */
        width: 100%;
        /* Ensure it takes full width */
        height: auto;
        /* Maintain aspect ratio */
        border: none;
        /* Remove border if any */
    }

    .Footer18 .heading {
        padding: 5vh 5vw;
    }
    
    .Footer18 .heading h1 {
        font-size: 2rem;
    }
    

    .Footer18 .para {
        padding: 5vh 5vw;
    }
    


}
@media (max-width: 1440px) {
    .Footer18 .px-5{
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }


}

