.Footer17 .main {
    margin-top: 5vh;
}

.Footer17 .heading {
    margin: 2vh 0;
}

.Footer17 .heading h1 {
    font-size: 2.1rem;
    font-weight: bold;
}


.Footer17 .section h4 {
    border-bottom: 1px solid #c3c8cd;
    padding: 20px 0;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 10px 0;
}

.Footer17 .section form label {
    font-weight: 700;
    font-size: 0.8rem;
    margin: 10px 0;
    text-transform: uppercase;
}

.Footer17 .section .form-control {
    border-radius: 0;
    padding: 10px;
}

.Footer17 .section .form-check {
    margin: 10px 0;
}

.Footer17 .section .form-check-label {
    margin: 0;
    font-weight: 300;
}

.Footer17 .form-button {
    margin: 5vh 0;
}

.Footer17 .form-button button {
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
    padding: 15px 30px;
    background-color: #101922;
    color: white;
    margin-bottom: 1vh;
 
}


.Footer17 .form-button button :hover {

    background-position: -100% 0;
    color: white;
    /* Change text color to white on hover */
}




.Footer17 .form-button a {

    color: #89c600;
}

.Footer17 .section-2 {
    margin-bottom: 10vh;
}

.Footer17 .section-2 h4 {
    border-bottom: 1px solid #c3c8cd;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 1.3rem;
}

.Footer17 .section-2 button {
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    padding: 8px 5px;
    border: 1px solid black;
    border-radius: 3px;
}



.Footer17 .section-2 button img {
    max-height: 17px;
}


@media (max-width: 425px) {
    .Footer17 .heading {
        margin: 0vh 0;
    }


    



}


