.font-8{
    font-size: .8rem;
}

.font-16 {
  font-size: 16px;
}


.I5-back{
  background-color: #101922;
}

.I5-back h4{
  font-size: 30px;
}

.I5-back h2 {
  font-size: 24px;
}


.I5-back p{
  font-size: 16px;
}

.filter-bar {
    background-color: #f1f2f3;
    padding: 15x 0;
  }

.bold{
    font-weight: bold;
}



.I5  .dropdown-toggle {
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #262828;
  padding: 10px;
  background-color: white;
  border-radius: 0;
}

.I5  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }


.IDrop  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }
