.m-euro {
    margin: 10px 121px;
}

.bg-blk{
    background-color: #101922;
}

.game-font p{
    font-size: .8rem;
}

.py-euroHero {
    padding-top: 102px;
    padding-bottom: 50px;
}

.py-euroHero h1{
    font-size: 38px;
    font-weight: 600;
}

.py-euroHero h2{
    font-size: 35px;
   
}

.py-navEURO{
   padding: 40px 0px;
}




.mb-120{
margin-bottom: 120px;
}

.font-22{
    font-size: 22px;
}



.gamer-li li {
    font-size: 19px;
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.gamer-li li::before {
    content: "✔"; /* Add checkmark */
    color: #89c600; /* Green color */
    position: absolute;
    left: 0; /* Align checkmark to the left */
    font-size: 16px; /* Adjust size as needed */
    line-height: 1.2; /* Align with the text */
}

@media (max-width: 767px) {
    .m-euro {
        margin: 10px 80px;
    }

}



@media (max-width: 425px) {
    .m-euro {
        margin: 10px 16px;
    }

    .py-euroHero h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .font-u {
        font-size: 13px;
    }

    .font-22 {
        font-size: 15px;
    }

    .mb-120 {
        margin-bottom: 65px;
    }

    .py-euroHero {
        padding-top: 59px;
        padding-bottom: 10px;
    }


    .py-navEURO{
        padding: 23px 20px 23px;
     }

     .gamer-li li {
        font-size: 15px;
        list-style-type: none;
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
    }
     
}
