.Footer12 .content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin: 20px 0;
}

.Footer12 .content h5 {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}


.Footer12 .content p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 400;
    text-align: left;
}

.Footer12 .content ul li {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 400;
    text-align: left;
}

.Footer12 .content a {
    color: #89c600;
}


.py-Footer-12{
    padding: 100px 0;
}