.Footer14 .heading {

background-color: #f0f3f5;
}

.Footer14 .heading h1 {
font-weight: bold;
font-size: 2.5rem;
text-align: center;
}

.Footer14 .content h1 {
    font-size: 31px;
    font-weight: 500;
    text-align: left;
    margin: 20px 0;
}

.Footer14 .content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin: 20px 0;

}

.Footer14 .content h5 {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.Footer14 .content p {
    font-size: 1rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 400;
    text-align: left;
}

.Footer14 .content ul li {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #5e646b;
    font-weight: 400;
    text-align: left;
}

.Footer14 .content a {
    color: #89c600;
}


.py-Footer14-hero{
    padding: 70px 0;
}

@media (max-width: 768px) {


}

@media (max-width: 425px) {
    .Footer14 .py-5 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .Footer14 .heading h1 {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }

    .py-Footer14-hero {
        padding: 27px 0;
    }



}